
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">VideoBuster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @*Action link with a class type.*@
    @*@Html.ActionLink("Video Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@


    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")"><span>Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("New", "Rentals")"><span>Rent A Movie</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Customers")"><span>Customers</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Movies")"><span>Movies</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List", "Rentals")"><span>Rentals</span></a>
            </li>
            @if (User.IsInRole("Admin"))
            { 
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "AccountManagement")"><span>Account Management</span></a>
            </li>
            }
        </ul>
        @Html.Partial("_LoginPartial")


    </div>

</nav>