@model VideoStore.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div class="form-group">
    @Html.LabelFor(m=> m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
</div>
<div class="form-group">
    <label>
        @Html.LabelFor(m => m.IDNumber)
        @Html.TextBoxFor(m => m.IDNumber, new { @class = "form-control", @readonly = "readonly" })
    </label>
</div>



@Html.ActionLink("Go Back To Account Management Index ", "Index", "AccountManagement", new { @class = "btn btn-primary" })