@model IEnumerable<VideoStore.Models.Rental>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
<p>
    @Html.ActionLink("New Rental", "New", "Rentals", null, new { @class = "btn btn-primary" })
</p>
<table id="myTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Rent Id </th>
            <th>Customer Name</th>
            <th>Date Rented</th>
            <th>Date Returned</th>
            <th>Movie Rented</th>
            <th>Return Button</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>

                <td>@item.Id </td>
                <td>@item.Customer.Name</td>
                <td>@item.DateRented</td>
                <td>@item.DateReturned</td>
                <td>@item.Movie.Name</td>
                <td><button class='btn btn-primary js-update' data-customer-id="@item.Id">Return</button></td>
            </tr>

        }
    </tbody>

</table>

@section scripts
{
    <script>

    $(document).ready( function () {
        var table = $('#myTable').DataTable();


       $("#myTable").on("click", ".js-update", function () {
            var button = $(this);

            bootbox.confirm({
                size: "small", message: "Are you sure you want to return this movie ?", callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Rentals/Save/" + button.attr("data-customer-id"),
                            method: "POST",
                            success: function () {
                                window.location.href = "/Rentals/List/";

                            }

                        });
                    }

                }
            });


        });
     } );




    </script>

}