 @model Vidly.Models.Movie
  
  @{
      ViewBag.Title = "Movies";
      Layout = "~/Views/Shared/_Layout.cshtml";
      }
  
  <h2>Movies</h2>

<h3>@Html.LabelFor(m=>m.Name) : @Model.Name</h3>
<h3>@Html.LabelFor(m => m.Genre) : @Model.Genre</h3>
<h3>@Html.LabelFor(m => m.ReleaseDate) : @Model.ReleaseDate</h3>
<h3>@Html.LabelFor(m => m.StockAmount) : @Model.StockAmount</h3>
