@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "AddNewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Movie</h2>

@using (Html.BeginForm("AddNewMovie", "Movies"))
{
<div class="form-group">
    @Html.LabelFor(m => m.Movie.Name)
    @Html.TextBoxFor(m => m.Movie.Name, new {@class="form-control" })
    @Html.ValidationMessageFor(m => m.Movie.Name)
</div>
<div class="form-group">
  @Html.LabelFor(m => m.Movie.Genre)
  @Html.DropDownListFor(m => m.Movie.Genre,
            new SelectList(Model.Genres, "Id", "Name")
            , "Select a Membership Type", new { @class = "form-control" })
@Html.ValidationMessageFor(m => m.Movie.Genre)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Movie.ReleaseDate)
    @Html.TextBoxFor(m => m.Movie.ReleaseDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Movie.StockAmount)
    @Html.TextBoxFor(m => m.Movie.StockAmount, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Movie.StockAmount)
</div>
@Html.HiddenFor(m => m.Movie.Id)


<button type="submit" class="btn btn-primary">Save</button>

}
@Html.ActionLink("Go Back To Movies Index ", "Index", "Movies", new { @class = "btn btn-primary" })
@Html.AntiForgeryToken()    

@* End Of Form.*@


@section scripts
{

    @Scripts.Render("~/bundles/jqueryval");
}